<main class="homepage-background add-flex-center">
    <div class="profile-container centered-form">
        <div class="profile-content profile-form">
            <h1 class="mb-5 text-center text-white">User Profile</h1>
            <div class="mb-10 user-info">
                <h2 class="text-2xl text-white">Welcome, {{username}}!</h2>
                <p class="text-white">Email: {{email}}</p>
            </div>
            <form action="/profile/password" method="POST" class="password-change-form">
                <h2 class="mb-3 text-white">Change Password</h2>
                <div class="mb-3 text-left form-group">
                    <label for="currentPassword" class="mb-1 text-white">Current Password:</label>
                    <input type="password" id="currentPassword" name="currentPassword" class="form-control" required>
                </div>
                <div class="mb-3 text-left form-group">
                    <label for="newPassword" class="mb-1 text-white">New Password:</label>
                    <input type="password" id="newPassword" name="newPassword" class="form-control" required>
                </div>
                <div class="mb-3 text-left form-group">
                    <label for="confirmPassword" class="mb-1 text-white">Confirm New Password:</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
                </div>
                <button type="submit" class="mt-5 text-white border-2 border-white search-button hover:bg-blue-700">Save New Password</button>
            </form>
            <div class="mt-4 user-reviews">
                <h2 class="text-white">Your Album Reviews</h2>
            <ul>
                {{#each reviews}}
                <li class="album-review">
                    <img style="width:200px" src="{{strAlbumThumb}}" alt="{{strAlbum}}"></a>
                    <p class="text-white">Date & Time: {{this.date}}</p>
                    <p class="text-white">Album: {{this.album}}</p>
                    <p class="text-white">Review: {{this.review}}</p>
                </li>
                {{/each}}
            </ul>
            <div class="mt-5">
                <h2 class="mb-10 text-white">Actions</h2>
                <button class="mt-5 text-white border-2 border-white search-button hover:bg-blue-700" id="logout"><a href="/api/users/logout">Logout</a></button>
            </div>
            <p class="mt-5 text-center text-white underline go-back-link hover:text-blue-700 underline-offset-1"><a href="/"><< Go Back to Homepage</a></p>
        </div>
    </div>
</main>